<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Gbridge</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>
  <!-- header-start -->
  <header>
    <div class="header-area ">
      <div id="sticky-header" class="main-header-area">
        <div class="container-fluid p-0">
          <div class="row align-items-center no-gutters">
            <div class="col-xl-2 col-lg-2">
              <div class="logo-img">
                <a href="/">
                  <img width="150px" height="auto" src="/img/logo.png" alt="">
                </a>
              </div>
            </div>
            <div class="col-xl-7 col-lg-7">
              <div class="main-menu d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="/">home</a></li>
                    <li><a href="/all">모든 강의</a></li>
                    <li><a href="/enroll">수강 강의</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
              <div class="log_chat_area d-flex align-items-center">
                <a href=<%= regurl %> class="login">
                  <span><%= reglabel %></span>
                </a>
                <span class="login">|</span>
                <a href=<%= logurl %> class="login">
                  <span><%= loglabel %></span>
                </a>

              </div>
            </div>
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header-end -->
